{% extends "base.html" %}
{% load static %}

{% block content %}
    <h2>Graph</h2>
    <div id="main" style="width: 100vw;height:100vh;"></div>
    {% for node in nodes %}
        <node eid='{{ node.eid }}' id_in_db='{{ node.pk }}' text='{{ node.text }}'></node>
    {% endfor %}
    {% for group in groups %}
        <group eid='{{ group.eid }}' id_in_db='{{ group.pk }}' text='{{ group.text }}'></group>
    {% endfor %}
    {% for k,v in node_relation.items %}
        {% if v != None %}
            <node_rel key='{{ k }}' value='{{ v }}'></node_rel>
        {% else %}
            <node_rl key='{{ k }}'></node_rl>
        {% endif %}
    {% endfor %}
    {% for k,v in group_relation.items %}
        {% if v != None %}
            <group_rel key='{{ k }}' value='{{ v }}'></group_rel>
        {% else %}
            <group_rl key='{{ k }}'></group_rl>
        {% endif %}
    {% endfor %}

    <script src="{% static 'js/graph.js' %}" type="text/javascript"></script>

{% endblock %}