{% extends "base.html" %}


{% block content %}
    <h2>Graphs</h2>
    <table id="table">
        <tr>
            <th>Id in DB</th>
            <th>Eid</th>
            <th>Text</th>
        </tr>
        {% for graph in list %}
            <tr>
                <td>{{ graph.pk }}</td>
                <td>{{ graph.eid }}</td>
                <td>{{ graph.text }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
